html, body {
  margin: 0;
  padding: 0;
}

/* index.html */
.background-block {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(124, 124, 124);
  opacity: 1;
}

.head-image {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

.content-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 7%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New';
  color: #fff;
  box-sizing: border-box;
}

.menu-block > ul {
  text-align: right;
  list-style: none;
}

.menu-block > ul > li > a {
  font-size: 1.1em;
  color: #dfdfdf;
  text-decoration: none;
  line-height: 2em;
}

.icon-wrapper {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
}

.icon-wrapper svg {
  width: 100%;
  height: 100%;
}

.social {
  background-color: transparent;
}

.use-icon {
  fill: transparent;
}

.use-mask {
  fill: #c7c7c7;
}

.use-mask:hover {
  fill: #fff;
}

/* 
  contact.html
*/
.contact-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New';
  box-sizing: border-box;
  background-color: #eeeeee;
}

.contact-title-container {
  text-align: center;
}

.contact-content-container {
  text-align: center;
}

.contact-title-container > h1 {
  font-weight: normal;
  margin-bottom: 0.2em;
}

.contact-title-container > h2 {
  letter-spacing: 0.7em;
  font-weight: normal;
  font-size: 1em;
}

.contact-title-container a {
  color: #000;
  text-decoration: none;
}

.contact-content-container a {
  color: #000;
}

/*
  work.html
*/
.work-container {
  background-color: #c7c7c7;
  font-family: 'Courier New';
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header-container a {
  color: #fff;
  text-decoration: none;
}

.gallery {
  display: flex;
}

.photo-column {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
  flex-basis: 50%;
}

@media (max-width: 768px){
  .gallery {
    flex-direction: column;
  }

  .photo-column {
    flex-basis: auto;
  }
}

.photo-column-right {
  padding-left: 0px;
}

.photo-column-left {
  padding-right: 0px;
}

.photo-element-container {
  padding: 2px;
}

.photo-element-container a {
  display: block;
  position: relative;
}

.photo-element-container a:after {
  content: "";
  position: absolute;
  width: 100%; height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
}

.photo-element-container a:hover:after {
  opacity: 1;
}

.photo-element-container img {
  width: 100%;
  display: block;
}