.contactTitle {
  font-family: 'Courier New';
  text-align: center;
}

.contactTitle > h1 {
  font-weight: normal;
  margin-bottom: 0.2em;
}

.contactTitle > h2 {
  letter-spacing: 0.7em;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

.contactTitle a {
  color: #000;
  text-decoration: none;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.price {
  text-align: center;
  font-weight: bold;
}

.includesList {
  padding-left: 1em;
  margin: 0.5em 0;
  min-height: 3em;
}

.cardFontSize {
  font-size: 0.8rem;
}

.dividerContent {
  color: #666;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}