.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New';
  box-sizing: border-box;
  background-color: #eeeeee;
}

.contactContent {
  text-align: center;
}

.contactContent a {
  color: #000;
}