.logoImg {
  height: 84px;
  width: 79px;
}

.gallery {
  display: flex;
}

.photoColumnLeft {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
  flex-basis: 50%;
}

.photoColumnRight {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
  flex-basis: 50%;
}

@media (max-width: 768px){
  .gallery {
    flex-direction: column;
  }

  .photoColumnLeft {
    flex-basis: auto;
  }

  .photoColumnRight {
    flex-basis: auto;
  }
}

.photoColumnRight {
  padding-left: 0px;
}

.photoColumnLeft {
  padding-right: 0px;
}

.photoElement {
  padding: 2px;
}

.photoElement img {
  width: 100%;
  display: block;
}